* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    color: #fff;
    scroll-behavior: smooth;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    position: relative;
 }
 
 img {
    width: 100%;
 }
 
 p {
    font-size: 1.1rem;
 }
 
 #slider {
    margin: 0 auto;
    max-width: 50vw;
    text-align: center;
    background: #030303;
 }
 
 #slider input[type=radio] {
    display: none;
 }
 
 #slider label:hover {
    cursor: pointer;
 }
 
 #slider label:hover span {
    cursor: pointer;
    background-color: white;
 }
 
 #slides {
    padding: 2% 3% 3% 3%;
    background: #030303;
    position: relative;
    z-index: 1;
 }
 
 #overflow {
    width: 100%;
    border-radius: 1vw;
    overflow: hidden;
 }
 
 #slide1:checked~#slides .inner {
    margin-left: 0;
 }
 
 #slide2:checked~#slides .inner {
    margin-left: -100%;
 }
 
 #slide3:checked~#slides .inner {
    margin-left: -200%;
 }
 
 #slide4:checked~#slides .inner {
    margin-left: -300%;
 }
 
 #slides .inner {
    transition: margin-left 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
 
 }
 
 #slides .slide {
    width: 25%;
    float: left;
 }
 
 #bullets {
    display: inline-block;
 
 }
 
 #bullets label {
    padding: 0.5vw;
 }
 
 #bullets span {
    display: inline-block;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background: royalblue;
 }
 
 #slide1:checked~.bottom #bullets label .span1,
 #slide2:checked~.bottom #bullets label .span2,
 #slide3:checked~.bottom #bullets label .span3,
 #slide4:checked~.bottom #bullets label .span4 {
    background: #030303 content-box;
    border: 1px solid royalblue;
 }
 
 #slide2:checked~.bottom #bullets label:nth-child(2):hover span,
 #slide3:checked~.bottom #bullets label:nth-child(3):hover span,
 #slide1:checked~.bottom #bullets label:nth-child(1):hover span,
 #slide4:checked~.bottom #bullets label:nth-child(4):hover span {
    border: 1px solid white;
 }
 
 #bullets label:nth-child(4) {
    padding-right: 0;
 }
 
 .bottom {
    padding: 0 3% 10% 3%;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    max-height: 30vh;
 }
 
 .item1,
 .item2,
 .item3,
 .item4 {
    display: none;
 }
 
 #slide1:checked~.bottom .item1,
 #slide2:checked~.bottom .item2,
 #slide3:checked~.bottom .item3,
 #slide4:checked~.bottom .item4 {
    display: block;
 
 }
 
 .slide-left {
    animation: slide-left 0.2s linear forwards;
 }
 
 @keyframes slide-left {
    0% {
       transform: translateX(+40px);
    }
 
    100% {
       transform: translateX(0px);
    }
 }
 
 